<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
</head>
<body>

<!-- uppercase, lowercase, currency, filter, orderby -->

<div ng-controller="studentCtrl">
	Enter First Name: <input type="text" name="firstname" ng-model="student.firstname"> </br>
	Enter Last Name: <input type="text" name="lastname" ng-model="student.lastname"> </br>
	Enter Fees: <input type="text" name="fees" ng-model="student.fees"> </br>
	Enter Subject: <input type="text" name="subject" ng-model="subjectName"> </br></br>

	Name in Upper Case: {{student.fullname() | uppercase}} </br>
	Name in Lower Case: {{student.fullname() | lowercase}} </br>
	Fees: {{student.fees | currency}} </br>

	<ul>
		<li ng-repeat="subject in student.subjects | filter: subjectName | orderBy: 'marks' ">
			{{ subject.name + ', marks:' + subject.marks }}
		</li>
	</ul>
</div>

<script type="text/javascript" src="angular-1.5.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module("app", []);

	app.controller("studentCtrl", function($scope){
		$scope.student = {
			firstname: "Bambang",
			lastname: "Gunawan",
			fees: 500,
			subjects: [
				{name:'Physics',marks:70},
                {name:'Chemistry',marks:80},
                {name:'Math',marks:65}
			],
			fullname: function(){
				var obj;
				obj = $scope.student;
				return obj.firstname + " " + obj.lastname;
			}
		};
	});
</script>
</body>
</html>