<!DOCTYPE html>
<html ng-app="">
<head>
	<title>AngularJS - HTML DOM</title>
</head>
<body>
<!-- ng-disabled, ng-show, ng-hide, ng-click -->
<h1>Sample Application</h1>
<table border="0">
	<tr>
		<td><input type="checkbox" name="box1" ng-model="box1"></td>
		<td><button ng-disabled="box1">Click</button></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="box2" ng-model="box2"></td>
		<td><button ng-show="box2">Click</button></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="box3" ng-model="box3"></td>
		<td><button ng-hide="box3">Click</button></td>
	</tr>
	<tr>
		<td><p>Total click: {{clickcounter}}</p></td>
		<td><button ng-click="clickcounter = clickcounter + 1">Click</button></td>
	</tr>
</table>

<script type="text/javascript" src="angular-1.5.8/angular.min.js"></script>

</body>
</html>